:root {
  /* Colors */
  --primary-brand-color: #4d5ae5;
  --active-state-color: #404bbf;
  --primary-heading-color: #2e2f42;
  --general-text-color: #434455;
  --helper-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-bg-color: #f4f4fd;
  --overlay-color: #2e2f42;
  --hero-bg-color: #2e2f42;
  --succes-state-color: #31d0aa;
  --white-color: #ffffff;

  /* Font size */
  --title-font-size: 56px;
  --secondary-header-font: 36px;
  --tertiary-header-font: 20px;
  --logo-font-size: 18px;
  --general-text-font: 16px;
  --small-text-font: 12px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--general-text-color);
  font-size: var(--general-text-font);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------ Common styling ------------------- */

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--primary-heading-color);
  font-weight: 800;
  font-size: var(--logo-font-size);

  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo span {
  color: var(--primary-brand-color);
}
.title {
  font-size: var(--secondary-header-font);
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-heading-color);
}
.subtitle {
  font-size: var(--tertiary-header-font);
  font-weight: 500;
  color: var(--primary-heading-color);
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.list {
  list-style: none;
}
.link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-decoration: none;
  color: var(--primary-heading-color);
}

.link:is(:hover, :focus) {
  color: var(--active-state-color);
}

.description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--general-text-color);
}
.btn:is(:hover, :focus) {
  background-color: var(--active-state-color);
  color: var(--white-color);
}

/* ------------------ Studio page ------------------- */

/* ------------------ Header ------------------- */
.header {
}
.header-nav {
}
.header-logo {
  color: var(--primary-heading-color);
  line-height: 1.33;
}

.header-list {
}

.header-item {
}
.header-link {
}
.header-address {
}
.header-address-list {
}
/* ------------------ Hero ------------------- */
.hero {
  background-color: var(--hero-bg-color);
}
.hero-title {
  font-size: var(--title-font-size);
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.hero-button {
  background-color: var(--primary-brand-color);
  color: var(--white-color);
  font-family: inherit;
  font-size: var(--general-text-font);
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/* ------------------ Portfolio page ------------------- */
/* ------------------ Projects ------------------- */

.projects {
}

.projects-nav {
}

.projects-button {
  font-family: inherit;
  font-weight: 500;
  font-size: var(--general-text-font);
  color: var(--primary-brand-color);
  background-color: var(--accent-color);
}

.projects-list {
}
.projects-items {
}
.projects-subtitle {
}

.projects-description {
}

/* ------------------ Footer ------------------- */
.footer {
  background-color: var(--hero-bg-color);
}
.footer-logo {
  color: var(--white-color);
  line-height: 1.16;
}

.footer-description {
  color: var(--accent-color);
}
